$pageWidth: 400px;
$mobileBreakpoint: 1200px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 100px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
